<h2 class="title">Create a Course</h2>

<%= form_for :course, url: teacher_courses_path, html: {class:"form-horizontal"} do |f|  %>

	<div class="form-group">

		<br>

		<%= f.label :title, {class:"control-label"} %>
		<%= f.text_field :title %>

		<br>

		<%= f.label :description %>
		<%= f.text_area :description %>

		<br>

		<%= f.hidden_field :teacher_id, value: @teacher.id %>

	  <br>

		<%= f.submit %>
	</div>
<% end %>
